
.control {
  background: none;
  color: white;
  border: none;
  width: fit-content;
  padding: 0;
  border-bottom: 1px solid $red;
  padding-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
}
.card {
  width: 25rem;
}
.card img {
  max-width: 100%;
  border-bottom: 3px solid $red;
  transition: border-bottom-width 0.3s ease; // Add transition for border-bottom-width
}

.card img.hovered {
  border-bottom-width: 6px; // Increase border-bottom-width when hovered
}